*.iml
.gradle
/local.properties
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
.DS_Store
/build
/captures
.externalNativeBuild
API/node_modules/*
CLIENT/.idea/*
CLIENT/.gradle/*
CLIENT/local.properties
CLIENT/app/build/*