*.iml
.gradle
/local.properties
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
.DS_Store
/build
/captures
.externalNativeBuild

#API
API/node_modules/*

#Client app
CLIENT/.idea/*
CLIENT/.gradle/*
CLIENT/local.properties
CLIENT/app/build/*

#Terminal App
TERMINAL/.idea/*
TERMINAL/.gradle/*
TERMINAL/local.properties
TERMINAL/app/build/*